<DOCTYPE! html>
    <html>
        <head>
            <title>{{title}}</title>
            <style type="text/css">
                .error {
                    color: red;
                }

                .nav {
                    list-style: none;
                    display: inline;
                }

                .blogs {
                    list-style: none;
                }

                .form {
                    display: block;
                }
            </style>
        </head>

        <body>
            <ul> 
                <li class="nav"><a href="/">Home</a></li>
                <li class="nav"><a href="blog">Main Blog Page</a></li>
                <li class="nav"><a href="new-post">Add New Post</a></li>
                {% if 'username' not in session %}
                <li class="nav"><a href="login">Login</a></li>
                {% elif 'username' in session %}
                <li class="nav"><a href="logout">Log out</a></li>
                {% endif %}
            </ul>
            {% with messages = get_flashed_messages(with_categories=True) %}
                {% if messages %}
                    <ul class="flashes">
                    {% for category, message in messages %}
                        <li class={{category}}>{{ message }}</li>
                    {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}
            {% block content %}
            {% endblock %}

        </body>
    </html>