{% extends "base.html" %}

{% block content %}
<div class="container-fluid"> 
    <h1>Log in to Blogz!</h1>
    <p>If you don't have an account, you may <a href="/signup">register</a> for one</p>
    <form action="/login" method="post">
        <table>
            <tr>
                <div class="container-fluid">
                    <div class="form-group">
                        <label for="username">Username<input name="username" type="text" value="{{ username }}" class="form-control input-sm"></label>          
                    </div>
                </div>
            </tr>
            <tr>
                <div class="container-fluid">
                    <div class="form-group">
                        <label for="password">Password<input name="password" type="password" class="form-control input-sm"></label>    
                    </div>
                </div>
            </tr>
        </table>
        <input type="submit" value="Login">
    </form>
</div>
{% endblock %}