{% extends "base.html" %}

{% block content %}
<h1>Register to Blogz!</h1>
<form action="/signup" method="post">
    <table>
        <tr>
            <div class="container-fluid">
                <div class="form-group">
                    <label for="username">Username<input name="username" type="text" value="{{ username }}" class="form-control input-sm"></label>            
                </div>
            </div>
        </tr>
        <tr>
            <div class="container-fluid">
                <div class="form-group">
                    <label for="password">Password<input name="password" type="password" class="form-control input-sm"></label>               
                </div>
            </div>
        </tr>
        <tr>
            <div class="container-fluid">
                <div class="form-group">
                    <label for="verify">Verify Password<input name="verify" type="password" class="form-control input-sm"></label>
                </div>
            </div>
        </tr>
    </table>
    <div class="container-fluid">
        <input type="submit" value="Sign up!">
    </div>
</form>
{% endblock %}